@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrap">
    <h1 class="titulo">Encuesta a alumnos</h1>
    <form action="">
        <label class="pregunta">¿Que tan satisfecho estás con las instalaciones?</label>
        <ul class='respuestas'>
            <li>
                <input type="radio" name="respuestas" value="mucho">
                <label>Mucho</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="bastante">
                <label>Bastante</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="masomenos">
                <label>Más o menos</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="Poco">
                <label>Poco</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="nada">
                <label>Nada</label>
            </li>
        </ul>
        <label class="pregunta">¿Que tan satisfecho estás con las instalaciones?</label>
        <ul class='respuestas'>
            <li>
                <input type="radio" name="respuestas" value="mucho">
                <label>Mucho</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="bastante">
                <label>Bastante</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="masomenos">
                <label>Más o menos</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="Poco">
                <label>Poco</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="nada">
                <label>Nada</label>
            </li>
        </ul>
        <label class="pregunta">¿Que tan satisfecho estás con las instalaciones?</label>
        <ul class='respuestas'>
            <li>
                <input type="radio" name="respuestas" value="mucho">
                <label>Mucho</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="bastante">
                <label>Bastante</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="masomenos">
                <label>Más o menos</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="Poco">
                <label>Poco</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="nada">
                <label>Nada</label>
            </li>
        </ul>
        <label class="pregunta">¿Que tan satisfecho estás con las instalaciones?</label>
        <ul class='respuestas'>
            <li>
                <input type="radio" name="respuestas" value="mucho">
                <label>Mucho</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="bastante">
                <label>Bastante</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="masomenos">
                <label>Más o menos</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="Poco">
                <label>Poco</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="nada">
                <label>Nada</label>
            </li>
        </ul>
        <label class="pregunta">¿Que tan satisfecho estás con las instalaciones?</label>
        <ul class='respuestas'>
            <li>
                <input type="radio" name="respuestas" value="mucho">
                <label>Mucho</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="bastante">
                <label>Bastante</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="masomenos">
                <label>Más o menos</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="Poco">
                <label>Poco</label>
            </li>
            <li>
                <input type="radio" name="respuestas" value="nada">
                <label>Nada</label>
            </li>
        </ul>
        <div class="buttons">
            <button class="btn-limpiar">Limpiar</button>
            <button class="btn-guardar">Guardar</button>
        </div>
    </form>
</div>