@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/stylelogin.css" rel="stylesheet" />
</head>
<body>
    <form class="form">
        <h2 class="titulo">Encuestas</h2>
        <h2 class="titulo-inicio">Iniciar sesión</h2>

        <div class="form_container">
            <div class="form_group">
                <input type="text" id="nombre" class="form_input" placeholder=" ">
                <label for="usuario" class="form_label">Nombre de usuario</label>
                <label class="form_label2" id="error-usuario"></label>
            </div>
            <div class="form_group">
                <input type="password" id="contrasena" class="form_input" placeholder=" ">
                <label for="contrasena" class="form_label">Contraseña</label>
                <label class="form_label2" id="error"></label>


            </div>
            <input type="submit" class="form_submit" value="Ingresar">
        </div>
    </form>
    <script>
        document.querySelector("form").addEventListener('submit', async function (event) {
            event.preventDefault();

            const nombre = document.getElementById('nombre').value;
            const contrasena = document.getElementById('contrasena').value;

            try {
                const response = await fetch('https://encuesta-api.websitos256.com/api/Usuario/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        nombre: nombre,
                        contrasena: contrasena
                    })
                });

                if (response.ok) {
                    const token = await response.json();
                    localStorage.removeItem("token");
                    localStorage.removeItem("nombreUsuario");
                    localStorage.removeItem("rol");
                    localStorage.removeItem("idUsuario");
                    localStorage.removeItem('alumnoNombre');
                    localStorage.setItem("token", token.token);
                    localStorage.setItem("nombreUsuario", token.nombreUsuario);
                    localStorage.setItem("rol", token.esAdmin);
                    localStorage.setItem("idUsuario", token.idUsuario);


                    console.log('Rol recibido:', token.esAdmin);

                    const rol = token.esAdmin;
                    if (rol === 'Admin') {
                        window.location.href = '/Admin/Index';
                    } else if (rol === 'Encuestador') {
                        window.location.href = '/Encuestador/Index';
                    } else {
                        document.getElementById('error').textContent = 'Rol desconocido.';
                    }
                } else {

                    document.getElementById('error').textContent = 'Usuario o contraseña incorrectos.';
                }
            } catch (error) {
                console.error('Error al intentar loguear:', error);
                document.getElementById('error').textContent = 'Error en la conexión.';
            }
        });
    </script>
</body>
</html>